body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #000;
    color: #FFF;
}

@media screen and (min-width: 1920px) {
    header {
        max-width:calc(66% - 6rem);
    }
}

@media screen and (min-width: 1280px) {
    header {
        max-width: calc(83% - 6rem);
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media screen and (min-width: 960px) {
    header {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media screen and (max-width: 960px) {
    .hero-section {
        max-height: 512px;
    }
}

@media screen and (min-width: 600px) {
    header {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media screen and (max-width: 600px) {
    .hero-section {
        max-height: 480px;
    }
}

@media screen {
    header {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: inherit;
    margin: auto;
}

.logo {
    height: 2.5rem;
    fill: rgb(229,9,20);
}

.header-right-section {
    display: flex;
    flex-wrap: wrap;
}

.language-selection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    width: 140px;
    height: 40px;
    min-width: 64px;
    min-height: 32px;
    z-index: 1;
}
.language-selection svg {
    position: absolute;
    z-index: -1;
    fill: rgb(255, 255, 255);
}
.language-selection svg:first-of-type {
    margin-left: -90px;
}
.language-selection svg:last-of-type {
    margin-left: 90px;
}

select {
    text-align: center;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    border-radius: 0.25rem;
    background: rgba(22,22,22,0.7);
    color: inherit;
    font-size: 16px;
    line-height: 1.25rem;
    width: 132px;
    height: 32px;
}

select:focus {
    background: rgba(22,22,22,0.7);
}

.language-selection:focus-within {
    border: 2px solid #FFF;
    border-radius: 0.45rem;
    padding: 2px;
}

option {
    width: 132px;
}

.button-sign-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.5rem;
}

.button-sign-in > button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    user-select: none;
    border: 0;
    border-radius: 0.25rem;
    cursor: pointer;
    transition-duration: 250ms;
    transition-property: background-color,border-color;
    transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
    font-size: 0.875rem;
    font-weight: 500;
    min-height: 2rem;
    padding: 0.25rem 1rem;
    background: rgb(229,9,20);
    color: inherit;
    width: 76px;
}

.button-sign-in > button:hover {
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    background: rgb(193,17,25);
}

.divider {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0.5rem;
    background-color: rgb(35,35,35);
}

.hero-section {
    position: relative;
    width: 100%;
    height: 700px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%), url("../img/hero.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    background-position-x: 40%;
    background-position-y: 65%;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 5.5rem);
}

.hero-content h1 {
    font-size: 3.3rem;
    font-weight: 900;
}

.hero-content p {
    font-size: 1.6rem;
    font-weight: 500;
}

.get-started-form {
    margin: 1.5rem 0 0;
}

.get-started-form > div {
    display: flex;
    align-items: center;
    margin: 1rem auto 0;
    max-width: 36.625rem;
    width: 100%;
    height: 3.5rem;
    position: relative;
}

.get-started-form > h3 {
    font-size: 1.25rem;
}

.get-started-form label {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.2;
    position: absolute;
    z-index: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition-property: top, font-size, line-height;
    transition-duration: 250ms;
    pointer-events: none;
    transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
    left: 1rem;
    right: 1rem;
    top: 1rem;
}

.get-started-form input {
    font-size: 1rem;
    width: 100%;
    color: inherit;
    background: rgba(22, 22, 22, 0.7);
    border: 1px solid #5e5e5e;
    border-radius: 0.25rem;
    padding: 1.5rem 1rem 0.5rem;
    line-height: 1.5;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    min-width: 10rem;
}

.get-started-form input:focus {
    outline: none;
}

.gsf-input-wrapper {
    border: 2px solid #FFF;
    border-radius: 0.45rem;
    padding: 4px;
    border-style: hidden;
    box-sizing: border-box;
    width: 100%;
}

.gsf-input-wrapper:focus-within {
    border-style: solid;
    padding: 2px;
}

.get-started-form input:not(:placeholder-shown) + label,
.get-started-form input:focus + label {
    font-size: 0.75rem;
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    top: 0.5rem;
}

.get-started-form button {
    margin-left: 0.5rem;
    align-items: center;
    display: flex;
    line-height: 1;
    user-select: none;
    border: 0px;
    border-radius: 0.25rem;
    cursor: pointer;
    position: relative;
    transition-duration: 250ms;
    transition-property: background-color, border-color;
    transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
    font-size: 1.5rem;
    padding: 0.75rem 1.5rem;
    background: rgb(229, 9, 20);
    color: inherit;
    white-space: nowrap;
    box-sizing: border-box;
    height: 100%;
}

.content-section, .faq-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 4.5rem 4.5rem;
    position: relative;
}

h2 {
    font-size: 3rem;
    font-weight: 900;
}

.content-section p {
    margin: 1rem 0 0;
    font-size: 1.5rem;
}

.content-section > .image {
    position: relative;
}

.content-section > .text, .content-section .image {
    flex-basis: 100%;
    max-width: 40%;

}

.content-section > .image > img {
    position: relative;
    width: 100%;
    z-index: 1;
}

.content-section > .image > video {
    overflow: hidden;
    position: absolute;
}

.on-top {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.5rem;
    background: #000;
    box-shadow: 0 0 2em 0 rgb(0,0,0);
    border: 2px solid rgba(128,128,128,0.7);
    border-radius: 0.75rem;
    min-width: 15rem;
    top: 67%;
    left: 22%;
    z-index: 1;
    padding: 0.6rem;
    width: 55%;
}

.on-top img {
    width: 22%;
}

.on-top p:first-of-type {
    font-size: 0.99rem;
    margin: 0;
}

.on-top p:last-of-type {
    font-size: 0.8rem;
    color: #0071eb;
    margin: 0;
}

.faq-content {
    font-size: 1.5rem;
    width: 85%;
}

.faq-content ul {
    list-style: none;
}

.faq-content li {
    margin: 0 0 0.5rem 0;
    user-select: none;
}

.faq-content li > div:first-of-type {
    display: flex;
    justify-content: space-between;
    background-color: rgb(45,45,45);
    margin-bottom: 0.0625rem;
    padding: 1.5rem;
    cursor: pointer;
}

.faq-content li > div:first-of-type > h3 {
    font-size: 1.5rem;
    font-weight: 400;
}

.faq-content li > div:last-of-type {
    overflow: hidden;
    background-color: rgb(45,45,45);
    max-height: 0;
    padding: 0 1.5rem;
    transition: all 0.25s cubic-bezier(0.5, 0, 0.1, 1) 0s;
}

.faq-content li > div:last-of-type.active {
    max-height: 75rem;
    padding: 1.5rem;
}

.faq-section, footer {
    flex-direction: column;
}

footer {
    display: flex;
    gap: 1.5rem;
    padding: 4.5rem 10rem;
    position: relative;
}

footer a {
    color: rgba(255,255,255,0.7);
    font-size: 0.9rem;
}

footer .main-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

footer .main-links div {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}